mixin feat(ic, head)
  div.feat
    i(class=`${ic}`)
    h3= head
    p 
      | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, perspiciatis itaque. Quia quos dolor quo velit adipisci enim nisi?
mixin col_service(ic1, ic2, head1, head2)
  div.col
    div.srv
      i(class=`fab ${ic1} fa-3x`)
      div.txt
        h3= head1
        p 
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, perspiciatis itaque. Quia quos dolor quo velit adipisci enim nisi?
    div.srv
      i(class=`fab ${ic2} fa-3x`)
      div.txt
        h3= head2
        p 
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, perspiciatis itaque. Quia quos dolor quo velit adipisci enim nisi?
mixin portfolio_card(img, head)
  div.card
    img(src=`./images/${img}` alt="")
    div.info
      h3= head
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quidem